$secondary: #DB4444;
$success: #00FF66; 

$body-color: #000;
$link-color: $body-color;
$link-decoration: none;


$font-family-sans-serif: "Poppins", sans-serif;
$headings-font-family: "Inter", "Poppins", sans-serif;

$font-size-base: 1rem;
$font-size-xs: .75rem;
$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.25;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;



$spacer: 1rem;
$spacers: (
  0: 0,
  6: $spacer * .375,
  16: $spacer * 1,
  24: $spacer * 1.5,
  30: $spacer * 1.875,
  40: $spacer * 2.5,
  48: $spacer * 3,
  60: $spacer * 3.75,
  70: $spacer * 4.375,
);



$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1170px
);

// Carousel
$carousel-indicator-width:           12px;
$carousel-indicator-height:          12px;


// Badges
$badge-padding-y:                   .35em ;
$badge-padding-x:                   1em ;
$badge-border-radius:               .35em;


// Buttons
$input-btn-padding-y:         1rem;
$input-btn-padding-x:         3rem;

