$primary: blue;
$secondary: rgb(83, 83, 83);

$btn-font-size-base: 1rem;
$btn-font-size-sm: .75rem;
$btn-font-size-lg: 1.25rem;

$btn-padding-x: 1rem;
$btn-padding-y: .5rem;
$btn-padding-x-sm: .75rem;
$btn-padding-y-sm: .25rem;
$btn-padding-x-lg: 1.25rem;
$btn-padding-y-lg: .75rem;



